# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.whl

# Virtual environment
venv/
env/
ENV/
.env

# Logs
*.log

# Coverage reports
coverage/
*.cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE specific files
.idea/
.vscode/

# Miscellaneous
.DS_Store
*.pem
*.pkl
*.sqlite3

